{% load bootstrap3 %}
<!DOCTYPE html>
<html lang="es">
	<head>
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<title>Imagetag</title>
		{% bootstrap_css %}
		<style type="text/css">
			.thumbnail{
				max-width: 150px;
			}
		</style>
		{% bootstrap_javascript %}
  	</head>
	<body>
		<nav class="navbar navbar-default">
		  <div class="container-fluid">
		    <!-- Brand and toggle get grouped for better mobile display -->
		    <div class="navbar-header">
		      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
		        <span class="sr-only">Toggle navigation</span>
		        <span class="icon-bar"></span>
		        <span class="icon-bar"></span>
		        <span class="icon-bar"></span>
		      </button>
		      <a class="navbar-brand" href="/">Imagetag</a>
		    </div>

		    <!-- Collect the nav links, forms, and other content for toggling -->
		    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
		      <ul class="nav navbar-nav">
		        <li><a href={% url 'images' %}>Imágenes</a></li>
		        <li><a href="{% url 'upload_image' %}">Subir imagen</a></li>
		      </ul>
		      <form class="navbar-form navbar-left" action="{% url 'search_tags' %}" method="post">
		      	{% csrf_token %}
		        <div class="form-group">
		          <input type="text" class="form-control" placeholder="Buscar tags" name="name">
		        </div>
		        <button type="submit" class="btn btn-default">Buscar</button>
		      </form>
		      {% if user.is_authenticated %}
		      	<ul class="nav navbar-nav navbar-right">
		        	<li>
		        		<a href="/accounts/logout/">Logout</a>
		        	</li>
		      	</ul>	
		      {% endif %}
		      
		    </div><!-- /.navbar-collapse -->
		  </div><!-- /.container-fluid -->
		</nav>
	<div class="container">
		<div class="row">
			<div class="col-xs-12">
				{% block content %}
				{% endblock content %}
			</div>
		</div>
	</div>
  </body>
</html>